*{
    font-family: sans-serif;
}

h1{
    background-color: brown;
    text-align: center;
    font-size: 50px;
}

img{
    width: 25%;
    height: 300px;
    border: 12px ridge red;
    float: left;
    margin:50px 30px ;
    position:relative;
}
#section_div{
    background-color: rgba(184, 118, 118, 0.781);
    border: 10px ridge red;
    width: 50%;
    margin-left: 22%;
    margin-top: 400px;
    position:absolute;
}

#paragraph_counter{
    background-color: aqua;
    height: 50px;
    width: 50px;
    border: 10px ridge red;
    border-radius: 20px;
    font-size: 40px;
    margin-top: 400px;
    position:absolute;
    
}

#forButton{
    margin: auto;
    position:absolute;
    margin-top:420px ;
    margin-left: 100px;
}